<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Girişi</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css" rel="stylesheet">
</head>
<body>
    <div class="min-h-screen flex items-center justify-center">
        <div class="card w-96 bg-base-100 shadow-xl p-6">
            <h2 class="text-2xl mb-6">Giriş Yap</h2>

                <div class="mb-4">
                    <label for="username" class="block text-sm font-bold mb-2">Kullanıcı Adı</label>
                    <input type="text" id="username" class="input input-bordered w-full" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-bold mb-2">Şifre</label>
                    <input type="password" id="password" class="input input-bordered w-full" required>
                </div>
                <button type="submit" id="bizimDugme" class="btn btn-primary w-full">Giriş Yap</button>
     
        </div>
    </div>
	
	<script>
	document.getElementById('bizimDugme').addEventListener('click', function() {
    fetch('http://127.0.0.1:5000/veri')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // İsteğin sonucunu işleyin
        })
        .catch(error => console.error('Error:', error));
});

	</script>
</body>
</html>
